<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/img/logo.png" class="flavicon">
        <title>Projet Amboise — Accueil</title>
        <meta name="og:image" content="/img/logo.png">

        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" media="screen and (max-width: 1250px)" href="/css/mobile.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
        <script src="https://kit.fontawesome.com/74ba3d64b1.js"></script>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    </head>

    <body>
        <div class="home__main">
            <div class="first-child">
                <header><%- include('./parts/header'); -%></header>

                <div class="container home__main-container">
                    <h2 class="title reveal-3">Projet Amboise</h2>
                    <h1 class="subtitle mt-4 reveal-2">Affrontez vos amis dans l'enceinte de <i>Sainte-Marie</i> dans Projet Amboise.</h1>
                    <h1 class="subtitle reveal-2">Créé par des terminales, ce projet aidera au financement du bal des terminales.</h1>

                    <div class="home-buttons">
                        <a href="/buy" class="main-button">ACHETER LE JEU</a>
                        <a href="#more" class="second-button">EN SAVOIR PLUS</a>
                        <a href="#medias" class="second-button computer">TRAILER <i class="fa-solid fa-play"></i></a>
                    </div>
                </div>
            </div>

            <div class="home__main-bottom d-flex">
                <div class="social-icons">
                    <a href="/discord" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    <a href="/instagram" target="_blank"><i class="fa-brands fa-instagram" style="font-size:28px;margin-top:-10px"></i></a>
                    <a href="mailto:support@LESITE.fr" target="_blank"><i class="fa-solid fa-envelope"></i></a> <!-- TODO: email -->
                </div>

                <div class="legal-infos">
                    <span class="computer">Projet Amboise © 2023 ・ </span><a href="/legal">Mentions légales</a>
                </div>
            </div>
        </div>

        <div class="home__body">
            <section id="more"> <!-- TODO: Modifier lien des images (/img/XXX.png) -->
                <div class="container reveal">
                    <div class="feature">
                        <div style="flex-grow: 1">
                            <div class="feature-title">Une carte inspirée de Sainte-Marie</div>
                            <p>Sur Projet Amboise, vous jouerez dans une modélisation 3D de Sainte-Marie, notamment la cour de récréation.</p>
                        </div>

                        <img class="img-2" src="https://media.discordapp.net/attachments/1071849177824378890/1079709047143550986/image.png?width=1093&height=676">
                    </div>
                </div>
                    
                <div class="container reveal-2">
                    <div class="feature feature-reverse">
                        <img class="img-1" src="https://media.discordapp.net/attachments/1071849177824378890/1080227398102028379/image.png">

                        <div>
                            <div class="feature-title">Une prise en main rapide</div>
                            <p>Vous arrivez dans le jeu avec un pistolet laser, si vous savez vous déplacer et tirer : c'est gagné, vous savez jouer.</p>
                        </div>
                    </div>
                </div>
                
                <div class="container reveal-2">
                    <div class="feature">
                        <div style="flex-grow: 1">
                            <div class="feature-title">Pas qu'un simple jeu</div>
                            <p>
                                Projet Amboise est prévu pour aider au financement du bal des terminales. L'acheter c'est aussi aider les terminales.
                                <br><br>Pour plus d'informations sur Projet Amboise, <a href="/about">cliquez ici</a>.
                            </p>
                        </div>

                        <img class="img-2" src="https://media.discordapp.net/attachments/1071849177824378890/1079709047143550986/image.png?width=1093&height=676">
                    </div>
                </div>
            </section>

            <section class="media__section" id="medias">
                <% gallery_images = [
                    "https://cdn.discordapp.com/attachments/1071849177824378890/1081174933612277820/image.png",

                    "https://media.discordapp.net/attachments/1071849177824378890/1080227398102028379/image.png",
                    "https://media.discordapp.net/attachments/1071849177824378890/1079709047143550986/image.png",
                    "https://media.discordapp.net/attachments/1071849177824378890/1081249274144239656/image.png",
                    "https://media.discordapp.net/attachments/1071849177824378890/1079709047143550986/image.png"
                ] %>
                <div class="container reveal">
                    <div class="is-title">Médias</div>

                    <iframe width="1070" height="602" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    
                    <div class="screenshots">
                        <div class="main-image">
                            <img src="<%= gallery_images[0] %>" onclick="openSlider(0)">
                        </div>
                        
                        <div class="gallery-image">
                            <% gallery_images.slice(1).forEach((imageURL, index) => { %>
                                <img src="<%= imageURL %>" onclick="openSlider(<%= index+1 %>)">
                            <% }) %>
                        </div>
                    </div>
                </div>
            </section>
            
            <div class="modal" id="modal">
                <div class="modal-header"><button data-modal-close class="close-button">X</button></div>

                <div class="modal-body">
                    <div class="slider">
                        <div class="slider_main d-flex">
                            <div class="previous"><i class="fas fa-chevron-left"></i></div>

                            <div class="slider_images">
                                <% gallery_images.forEach(imageURL => { %>
                                    <img src="<%= imageURL %>" class="slider-img">
                                <% }) %>
                            </div>

                            <div class="next"><i class="fas fa-chevron-right"></i></div>
                        </div>

                        <div class="slider_pagination_bubbles pt-4">
                            <% gallery_images.forEach(imageURL => { %>
                                <span></span>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
            <div id="overlay"></div>

            <section class="data__section" id="data">
                <div class="container reveal">
                    <div class="is-title">En quelques données</div>
                    <div class="data_container">
                        <div class="data_counter">
                            <a href="/about">53</a>
                            <p>Joueurs inscrits</p>
                        </div>
                        <div class="data_counter">
                            <a href="/about">03</a>
                            <p>Personnes modélisées</p>
                        </div>
                        <div class="data_counter">
                            <a href="/discord">21</a>
                            <p>Membres Discord</p>
                        </div>
                        <div class="data_counter">
                            <a href="/buy">228€</a>
                            <p>Bénéfice estimé</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        

        <!-- --------- JAVASCRIPT FILES -->
        <script src="/js/main.js"></script>
    </body>
</html>