<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/img/logo.png" class="flavicon">
        <title>Projet Amboise — Profil</title>
        <meta name="og:image" content="/img/logo.png">
        <meta name="theme-color" content="#d34343">

        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/profile.css">
        <link rel="stylesheet" media="screen and (max-width: 1250px)" href="/css/mobile.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
        <script src="https://kit.fontawesome.com/74ba3d64b1.js"></script>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    </head>

    <body>
        <div class="home__main">
            <header><%- include('../parts/header'); -%></header>

            <div class="container">
                <% if(req.user.game === null) { %>
                    <div class="game-message">Vous ne possédez pas le jeu... <a href="/buy">Vous pouvez l'acheter en cliquant ici</a></div>
                <% } %>

                <% let isToken = false; %>

                <section id="info">
                    <div class="is-title-second pt-5">Votre profil</div>
    
                    <div class="profile_info" style="margin-bottom: 50px;">
                        <div class="info-element">
                            <div class="element-name">Nom</div>
                            <div class="element-body"><%= req.user.prenom %> <%= req.user.nom %></div>
                        </div>
                        
                        <div class="info-element">
                            <div class="element-name">Email</div>
                            <div class="element-body"><%= req.user.email %></div>
                        </div>
    
                        <div class="info-element">
                            <div class="element-name">Création</div>
                            <div class="element-body"><%= createdAt %></div>
                        </div>
                        
                        <hr>
                        <div class="info-element">
                            <div class="element-name">Pseudonyme</div>
                            <div class="element-body"><%= req.user.username %></div>
                        </div>
                        
                        <div class="info-element">
                            <div class="element-name">Elève de Sainte-Marie</div>
                            <div class="element-body"><%= req.user.stm === null ? 'non' : 'oui' %></div>
                        </div>
    
                        <div class="info-element">
                            <div class="element-name">Jeu</div>
                            <% if(req.user.game === null) { %>
                                <div class="element-body">
                                    non possédé <%= req.user.beta !== null ? "(mais bêta possédée)" : '' %>
                                    <a href="/buy" class="edit-profile ml-3" style="padding:3px 22px;">Acheter le jeu</a>
                                </div>
                            <% } else { %>
                                <div class="element-body">possédé</div>
                            <% } %>
                        </div>
    
                        <hr>
                        <div class="info-element profile-buttons">
                            <a href="/profile/edit" class="edit-profile">Modifier le profil</a>
                            <a href="/profile/delete" class="delete-profile">Supprimer le profil</a>
                        </div>
                    </div>
                </section>

                <% if(req.user.game !== null) { %>
                    <section id="download" class="download_section">
                        <div class="is-title-second">Télécharger le jeu</div>

                        <div class="download">
                            <div class="download-card">
                                <div class="download-card-logo">
                                    <i class="fa-brands fa-windows"></i>
                                </div>

                                <form method="post" action="/ProjetAmboise_Windows">
                                    <button type="submit">
                                        <i class="fa-solid fa-download"></i> Windows
                                    </button>
                                </form>
                            </div>
                            
                            <div class="download-card">
                                <div class="download-card-logo">
                                    <i class="fa-brands fa-apple"></i>
                                </div>

                                <form method="post" action="/ProjetAmboise_MacOS">
                                    <button type="submit">
                                        <i class="fa-solid fa-download"></i> MacOS
                                    </button>
                                </form>
                            </div>
                        </div>

                        <div class="game-message" style="padding-bottom: 0; padding-top: 15px">
                            Une fois le jeu téléchargé, suivez <a href="/tuto">ce tutoriel</a> pour pouvoir le lancer, l'activer et y jouer.
                        </div>
                    </section>

                    <section id="token">
                        <div class="is-title-second">Code d'activation</div>

                        <div class="game-message" style="padding:0">
                            Lorsque vous lancez le jeu pour la première fois, vous aurez besoin du code d'activation ci-dessous.
                            <br><u>Attention</u> : <a href="#">ce code est à usage unique et vous ne pourrez le copier qu'une fois</a> donc copiez le puis entrez le dans le jeu juste après.
                        </div>

                        <div class="token">
                            <% if(showToken === false) { %>
                                <% if(req.user.token === null) { %>
                                    Vous avez déjà récupéré votre code d'activation !
                                    <br>En cas de problème ou si vous souhaitez changer d'ordinateur, veuillez contacter le support sur <a href="/discord">discord</a> ou projet.amboise@gmail.com.    
                                <% } else { %>
                                    <form method="POST">
                                        <button type="submit" class="delete-profile" style="outline:none;border:none">Cliquez ici pour afficher le code d'activation</button>
                                    </form>
                                <% } %>

                            <% } else { isToken=true %>
                                <span><%= showToken %></span>
                                <button class="edit-profile" style="border:none;outline:none;margin-left:20px;" onclick="copyToClipboard('<%= showToken %>')" id="copy">Copier</button>
                            <% } %>
                        </div>
                    </section>
                <% } %>
            </div>
        </div>

        <script>
            if(<%= isToken %> !== false) {
                $([document.documentElement, document.body]).animate({
                    scrollTop: $("#copy").offset().top
                }, 800);
            }

            function copyToClipboard(element) {
                var $temp = $("<input>");
                $("body").append($temp);
                
                $temp.val(element).select();
                document.execCommand("copy");
                $temp.remove();

                $('#copy').html("Copié !")
            }
        </script>

        <!-- --------- JAVASCRIPT FILES -->
        <script src="/js/main.js"></script>
    </body>
</html>